---
import HomePageReact from '../components/HomePageReact.tsx'
import "../styles/global.css";
---

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CanBan Calendar</title>
        <link rel="icon" type="image/png" href="/CanBan/dog-white-bg.png" />
    </head>
    <body>
        <HomePageReact client:load/>
    </body>
</html>
<style>
</style>
